@using AnimalCrossingTeam.Core.Models
@model Poisson
@{
    ViewData["Title"] = "Poissons";
}

<div class="text-center">
    <h1 class="display-4"><img src="~/img/poissons/1.png" width="70" />&nbsp;Poissons</h1>
    <p>Liste des poissons découverts par la team.</p>
</div>

<button class="btn btn-primary" id="ajouter-poisson" onclick="showPoissonModal(this)">Ajouter un poisson</button>
<br />

<table class="table" id="table-poissons">
    <thead>
        <tr>
            <th></th>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Mois</th>
            <th>Heures</th>
            <th>Localisation</th>
            <th>Météo</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="partial-modal"></div>

@section Scripts {
    <script charset="UTF-8">
        var table = $('#table-poissons').DataTable({
                ajax: {
                    url: '@Url.Action("GetPoissons", "Poissons")',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'numéro',
                        render: function (data, type, row) {
                            return '<img src="/img/poissons/' + data + '.png" width="30"></img>';
                        }
                    },
                    { data: 'numéro' },
                    {
                        data: 'nom',
                        render: function(data, type, row) {
                            return '<a href="/Poisson/' + row.numéro + '">' + data + '</a>';
                    }
                    },
                    { data: 'affichageMois' },
                    { data: 'affichageHeures' },
                    { data: 'localisation' },
                    { data: 'météo' },
                    { data: 'prix' },
                    {
                        render: function(data, type, row) {
                            return '<i class="fa fa-pencil-alt" onclick="showPoissonModal('+row.numéro+')">' +
                                '</i>&nbsp;<i class="fa fa-times" onclick="removePoisson(' + row.numéro + ')"></i>';
                        }
                    }
                ]
            });

        $('#ajouter-poisson-modal').on('hidden.bs.modal',
            function(e) {
                $('#partial-modal').html('');
            });

        function removePoisson(number) {
            $.post('@Url.Action("RemovePoisson", "Poissons")',
                { numéro: numéro },
                function() {
                    table.ajax.reload();
                });
        }

        function toggleTouteHeure(checkbox) {
            if (checkbox.checked) {
                document.getElementById('Premi_reHeure').value = 0;
                document.getElementById('Derni_reHeure').value = 23;
            } else {
                document.getElementById('Premi_reHeure').value = '';
                document.getElementById('Derni_reHeure').value = '';
            }

            document.getElementById('Premi_reHeure').readOnly = checkbox.checked;
            document.getElementById('Derni_reHeure').readOnly = checkbox.checked;
        }

        function toggleToutLesMois(checkbox) {
            $('#mois :input').prop('checked', checkbox.checked);
        }

        function showPoissonModal(button) {
            if (button.id === 'ajouter-poisson') {
                $('#partial-modal').load('@Url.Action("PartialPoissonModal", "Poissons")',
                    function() {
                        $('#poisson-modal').modal('show');
                    });
            } else {
                $('#partial-modal').load('@Url.Action("PartialPoissonModal", "Poissons")?numéro=' + button,
                    function() {
                        $('#poisson-modal').modal('show');
                    });
            }
        }

        function erreurEnvoi(result) {
            $('.field-validation-valid').text('');
            var errors = result.responseJSON;
            for (var property in errors) {
                $('.field-validation-valid[data-valmsg-for="' + property + '"]').text(errors[property]);
            }
        }

        function validationEnvoi() {
            $('#poisson-modal').modal('hide');
            table.ajax.reload();
        }
    </script>
}